@import './darkModeToggle.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
  @apply bg-main_color_light dark:bg-main_color_dark;
}
main {
  margin-top: 60px;
}
address {
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  @apply text-main_color_dark dark:text-main_color_light;
}
li, a {
  cursor: pointer;
}
ul, ol, li {
  list-style-type: none;
}
.containerr {
  padding: 0 10px;
}
/* -------------------------- INDICATING PAGE WIDTH ------------------------- */
section:not(.articleSection), .pageIndicator, .articleContent {
  max-width: 1000px;
  margin: 0 auto;
}
/* ----------------------------------- NAV ---------------------------------- */
@media (min-width: 800px) {
  .sticky-nav-enabled {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
/* ------------------------ CUSTOM SCROLLBAR STYLING ------------------------ */
@media(min-width: 800px) {
  ::-webkit-scrollbar {
width: 5px;
height: 5px;
}
/* Styler baggrunden på scrollbar track */
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 10px;
}
}
/* Styler det scrollbare håndtag */
::-webkit-scrollbar-thumb {
  cursor: pointer;
@apply bg-accent_color_light dark:bg-accent_color_dark bg-opacity-60 ;
border-radius: 10px;
}
/* Styler håndtaget ved hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-accent_color_dark dark:bg-accent_color_light;
}

/* ------------------------------ TIMEINDICATOR ----------------------------- */
.sliderNav .timeSpan {
  @apply text-accent_color_light dark:text-accent_color_dark;
}

/* ----------------------------------- ADS ---------------------------------- */

#div-InText_1, #div-InText_2, #div-InText_3, #div-930x180_1, #div-Leaderboard_1, #div-Leaderboard_2, #div-Leaderboard_3
{
  background: #fbf8f8 !important;
    min-height: 250px !important;
    display: grid !important;
    place-content: center !important;
    position: relative;
  margin-bottom: 30px;
  display: grid;
  place-content: center;
}
#div-InText_1::before, #div-InText_2::before, #div-930x180_1::before, #div-Leaderboard_1::before, #div-Leaderboard_2::before, #div-Leaderboard_3::before {
  content: 'Annonce';
  font-size: 10px;
  text-align: center;
  clear: right;
  display: block;
  color: #696969;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 775px) { 
  #div-InText_1, #div-InText_2, #div-InText_3, #div-930x180_1, #div-Leaderboard_1, #div-Leaderboard_2, #div-Leaderboard_3
{
    min-height: 0px !important;
}
#div-InText_1::before, #div-InText_2::before, #div-930x180_1::before, #div-Leaderboard_1::before, #div-Leaderboard_2::before, #div-Leaderboard_3::before  {
  content: none;
}

  #div-Mobile_Article_1, #div-Mobile_Article_2, #div-Mobile_Article_3, #div-Mobile_Article_4, #div-Mobile_Article_5, #div-Mobile_Square_1, #div-Mobile_Square_2, #div-Mobile_Square_3 {
   /*  margin-left: -1.5rem !important; */
   background: #f5f5f5 !important;
   min-height: 340px !important;
   align-items: center;
   display: grid !important;
   place-content: start center !important;
   grid-template-rows: auto 1fr;
   padding: 5px 0 !important;
   position: relative;
  }
  #div-Mobile_Article_1::before, #div-Mobile_Article_2::before, #div-Mobile_Article_3::before, #div-Mobile_Article_4::before, #div-Mobile_Article_5::before {
    content: 'Artiklen forsætter efter annoncen:';
    font-size: 10px;
    text-align: center;
    clear: right;
    display: block;
    color: #696969;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #div-Mobile_Square_1::before, #div-Mobile_Square_2::before, #div-Mobile_Square_3::before {
    content: 'Annonce';
    font-size: 10px;
    text-align: center;
    clear: right;
    display: block;
    color: #696969;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.lineHeader{
  position: relative;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
.lineHeader::before {
  content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 1px;
    z-index: -1;
}